h1
	font-size: 5rem
	font-weight: bold

.col_2, .col_3
	border-top: 1px solid #000

.goals
	h1,h2,h3
		margin-top: 0

.underbar
	h1,h2
		border-bottom: 5px solid #000
		margin-bottom: 3rem

.group
	border-top: 1px solid #000
	margin-top: 3rem
	padding-top: 1rem

.goals li
	margin-bottom: 2rem
	font-size: 1.8rem

// get us out from under the nav
#wrap > .container
	padding-top: 60px

#footer
	background-color: #333
	color: #999
	.container
		padding-top: 20px

.nav li.current a
	border-bottom: 5px solid #006dcc

@media (max-width: 980px)
	body
		padding-top: 0
