
$delops_purple: #737
$footer_backround: #333
$link_underline_color: $footer_backround
$footer_color: #fff

/*standard*/
$background_color: #fff
$foreground_color: #333
//$border_color: $delops_purple
$border_color: $delops_purple
$rule_color: $border_color

$banner_height: 40px

/*noelia mode*/
//$background_color: $delops_purple
//$foreground_color: #fff
//$border_color: $foreground_color
//$rule_color: $foreground_color

body
	background: $background_color
	color: $foreground_color
	/* escape nav*/
	padding-top: $banner_height

.banner
	position: fixed
	top: 0
	left: 0
	border-bottom: 1px solid $foreground_color
	z-index: 1030
	width: 100%
	min-height: $banner_height
	background: #ff0
	text-align: center
	height: 2rem
	h3
		margin-top: .5rem
		text-size: 2.5rem

@media print
	body
		background: #fff
		color: #000

h1
	font-size: 5rem
	font-weight: bold

h2
	font-size: 3.5rem

.col_2, .col_3
	border-top: 1px solid $border_color

.goals
	h1,h2,h3
		margin-top: 0

.underbar
	h1,h2
		border-bottom: 5px solid $foreground_color
		margin-bottom: 3rem

.rule
	height: 3rem
	div
		padding-top: 1rem
		border-bottom: 3px solid $rule_color

.goals
	li
		margin-bottom: 2.5rem
		font-size: 1.8rem
	.objective
		margin-bottom: 3rem
